body{
   font-family: 'JetBrains Mono', monospace;
}

.grid-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,td{
    text-align: center;
    padding: 12px 5px;
    border-bottom: 1px solid;
}